{% extends 'base.html' %}
{% block style %}
<style>
  body {
   background: rgb(10, 110, 224);
   
 }
 .form_control {
    width: 25%;
    height: 25%;
  padding-left: 10px;
    display: block;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 8px;
    padding: 8px 16px;
    transition: transform 0.3s ease-out;
    color: #02f;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
 
 
 input[type=number] {
   -moz-appearance:textfield;
 }
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 nav {
   width: 960px;
   margin: 0 auto;
 }
 
 nav:before {
   content:'';
   display: block;
   height: 50px;
   width: 100%;
   background:#2d2b33;
   position: absolute;
   left: 0;
   z-index:-1;
 }
 
 ul {
   margin:0;
   padding:0;
   list-style:none;
   height:50px;
 }
 
 ul li {
   float: left;
 }
 
 ul li a {
   font-family: Monsterrat;
   color:white;
   display:block;
   height:50px;
   padding:0 50px;
   text-transform: uppercase;
   text-decoration: underline;
   line-height:50px;
 }
 
 ul li a:hover {
   background:red;
 }
 body {
     margin: 0;
     padding: 0;
   }
 
   h1 {
     position: relative;
     font-family: "Montserrat", sans-serif;
     font-size: 5em;
     font-weight: 700;
   }
 
   h2 {
     position: relative;
     font-family: "Montserrat", sans-serif;
     font-size: 3em;
     font-weight: 700;
     font-style: Italic;
     background-color:orange
   }
   .header {
     display: flex;
     min-height: 50vh;
     padding: 8px 50px;
     background-color: #02f;
     background-image: url("bg.svg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
   }
 
   .header__title {
     transform: translateX(0);
     animation-name: header_anim;
     animation-duration: 1s;
     animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
     text-transform: uppercase;
     color: black;
     align-self: center;
   }
 
   .article {
     position: relative;
     min-height: 20vh;
     padding: 8px 50px;
   }
 
   .article_whitebg::before,
 .article_bluebg::before {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   content:'';
 }
 
 .form {
     position: relative;
     width: 300px;
     margin: 0;
     text-align: center;
   padding-left: 100px;
   }
 .form_input,
   .form_textarea {
     padding-left: 10px;
     display: block;
     box-sizing: border-box;
     width: 100%;
     margin-bottom: 8px;
     padding: 8px 16px;
     transition: transform 0.3s ease-out;
     color: #02f;
     border: none;
     border-radius: 8px;
     outline: none;
     background-color: #fff;
     font-family: 'Open Sans', sans-serif;
     font-size: 1.5em;
     font-weight: 300;
   }
 
   .form_button {
     display: inline-block;
     padding: 12px 32px;
     transition: all 0.3s ease-out;
     text-transform: uppercase;
     color: orange;
     border: none;
     border-radius: 8px;
     outline: none;
     background-color: #02f;
     background-clip: border-box;
     font-family: 'Montserrat', sans-serif;
     font-size: 1.5em;
     font-weight: 700;
   }
   
   .form_button:hover {
     transition: all 0.3s ease-out;
     transform: scale(1.02, 1.02);
     box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
   }
   
   .black {
     color: #000;
   }
   
   .white {
     color: #fff;
   }
     </style>
{% endblock %}
{% block header %}
<nav>
  <ul>
      <li><a href="">Главная страница</a></li>
      <li><a href="">Войти</a></li>
      <li><a href="">Информация</a></li>
      <li><a href="">Помощь</a></li>
  </ul>
</nav>
  <h1>{% block title %}Регистрация{% endblock %}</h1>
{% endblock %}

{% block content %}

    <h2>Регистрация:</h2>

    {% include "components/errors.html" %}

    <form method='post'>
    	<p>
        	<input name = 'username' type ='text' placeholder = 'Введите ник' class = 'form_control' minlength = '3' required><br>
        </p>
        <p>
        	<input name='password' type='password' placeholder = 'Введите пароль' class = 'form_control' pattern ='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}' title = " the password must be at least 5 characters long. It must contain at least one uppercase and one lowercase letter" required><br>
        </p>
        <p>
        	<input type = 'text' name = 'first_name' id = 'first_name' class = 'form_control' placeholder = 'Введите имя' pattern = '[A-я]{2,}' required><br>
        </p>
        <p>
        	<input type = 'text' name = 'last_name' id = 'last_name' class = 'form_control' placeholder = 'Введите фамилию' pattern = '[A-я]{2,}' required><br>
        </p>
        <p>
        	<input type = 'text' name = 'patronymic' id = 'patronymic' class = 'form_control' placeholder = 'Введите отчество' pattern = '[A-я]{2,}' required><br>
        </p>
        <p>
        	<input type = 'text' name = 'addmission_year' id = 'addmission_year' class = 'form_control' placeholder = 'Введите год поступления' pattern = '[0-9]{4}' required><br>
        </p>
        <p>
        	<input type = 'text' name = 'direction' id = 'direction' class = 'form_control' placeholder = 'Введите направление' pattern = '[A-я]{2,}' required><br>
        </p>
        <p>
        	<input type = 'text' name = 'group_num' id = 'group_num' class = 'form_control' placeholder = 'Введите номер группы' pattern = '[0-9]{1}' required><br>
        </p>
        
      <p>
      
        	<input type = 'submit' name = 'group_num' id = 'group_num' class = 'btn btn-success' value = 'Отправить'><br>
        </p>
      
    </form>
{% endblock %}