{% extends "base.html" %}

{% block header %}
  <h1>
    {% block title %}
      Регистрация
    {% endblock %}
  </h1>
{% endblock %}

{% block content %}
  <h2>Регистрация:</h2>
  {% include "components/errors.html" %}
  <form method="post" class="form">
    <fieldset class="form__fieldset">
      <legend class="form__legend">Данные аккаунта</legend>

      <label class="form-control">
        <span class="form-control__label">Логин</span>
        <input
                name="username"
                type="text"
                placeholder="Введите ник"
                class="form-control__input"
                minlength="3"
                pattern="[a-zA-Z_-]{3,}"
                autocomplete="username"
                required>

        <span class="form-control__invalid-message">
          Логин может состоять только из латиницы (<code>a-z</code>),
          нижнего подчёркивания (<code>_</code>) и дефиса (<code>-</code>),
          длиной не менее 3-х символов
        </span>
      </label>

      <label class="form-control">
        <span class="form-control__label">Пароль</span>
        <input name="password" type="password" placeholder="Введите пароль"
               class="form-control__input"
               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
               autocomplete="new-password"
               minlength="5"
               required>

        <span class="form-control__invalid-message">
          Пароль должен содержать цифры (<code>0-9</code>),
          строчные (<code>a-z</code>) и заглавные (<code>A-Z</code>) латинские
          буквы, длиной не менее 5 символов
        </span>
      </label>
    </fieldset>

    <fieldset class="form__fieldset">
      <legend class="form__legend">Ваши данные</legend>

      <label class="form-control">
        <span class="form-control__label">Имя</span>
        <input type="text" name="first_name" class="form-control__input"
               placeholder="Введите имя"
               autocomplete="given-name"
               pattern="[A-Яа-яё-]{2,}" required>
      </label>

      <label class="form-control">
        <span class="form-control__label">Фамилия</span>
        <input type="text" name="last_name" class="form-control__input"
               placeholder="Введите фамилию"
               autocomplete="family-name"
               pattern="[A-Яа-яё-]{2,}" required>
      </label>

      <label class="form-control">
        <span class="form-control__label">Отчество</span>
        <input type="text" name="patronymic" class="form-control__input"
               autocomplete="additional-name"
               placeholder="Введите отчество"
               pattern="[A-Яа-яё-]{2,}">
      </label>
    </fieldset>

    <fieldset class="form__fieldset">
      <legend class="form__legend">Данные о группе</legend>

      <label class="form-control">
        <span class="form-control__label">Год поступления</span>

        <input type="number" min="1900" max="{{ current_year }}"
               name="addmission_year" id="addmission_year"
               class="form-control__input"
               placeholder="Введите год поступления" pattern="[0-9]{4}"
               required>
      </label>

      <label class="form-control">
        <span class="form-control__label">Направление</span>

        <input type="text" name="direction" class="form-control__input"
               placeholder="Введите направление"
               pattern="[A-Яа-яё ]{2,}" required>
      </label>

      <label class="form-control">
        <span class="form-control__label">Номер группы</span>

        <select name="group_num"
                class="form-control__input" required>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </label>
    </fieldset>

    <button type="submit" class="button button--primary">
      Отправить
    </button>
  </form>
{% endblock %}
