{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Логин{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Информация о пользователе:
        <ul>
            <li>Ник: {{ username }}</li>
            <li>Имя: {{ first_name }}</li>
            <li>Фамилия: {{ last_name }}</li>
            <li>Отчество: {{ patronymic }}</li>
            <li>Год поступления: {{ addmission_year }}</li>
            <li>Направление: {{ direction }}</li>
            <li>Номер группы: {{ group_num }}</li>
            <li>Роль: {{ user_role }}</li>
        </ul>
    </p>
   <li class='item'> <a href="table">Расписание</a></li>

{% endblock %}
