{% macro header_nav_link(page="") %}
  {% set link = page if page.startswith('/') else url_for(page) %}
  {% set current_page = url_for(request.endpoint) %}
  {% if current_page == link %}
    <li class='nav__item nav__item--current'>
      <a class="nav__link" aria-current="page">{{ caller() }}</a>
    </li>
  {% else %}
    <li class='nav__item'>
      <a href="{{ link }}" class="nav__link">{{ caller() }}</a>
    </li>
  {% endif %}
{% endmacro %}

<nav class='nav'>
  <ul class="nav__list">
    {% call header_nav_link('/') %}
      Logo
    {% endcall %}
    {% if authorized() %}
      {% call header_nav_link('auth.logout') %}
        Выйти
      {% endcall %}
    {% else %}
      {% call header_nav_link('auth.register') %}
        Регистрация
      {% endcall %}
      {% call header_nav_link('auth.login') %}
        Войти
      {% endcall %}
    {% endif %}
  </ul>
</nav>