<script>
	window.onload = function() {
		var table = document.getElementsByClassName('table')[0];
		for (var i = 0; i < table.rows.length; i++) {
			if((table.getElementsByClassName('td')[i].textContent == "None") || (table.getElementsByClassName('td')[i].textContent == "")) {
				table.getElementsByClassName('tr')[i].style.display = "none";
			}
		}
	};

</script>


<table class="table" border="1" align="center" >
		<tr>
			<td>Пара</td>
			<td>Время</td>
			<td>Предмет</td>
			<td>Неделя</td>
		</tr>
		<tr class="tr">
			<td class="td" colspan="4">{{ monday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ m_1_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ m_2_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ m_3_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ m_4_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ m_5_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ m_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ m_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ m_1_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ m_2_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ m_3_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ m_4_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ m_5_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ m_6_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ m_7_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr tr class="tr">
			<td class="td" colspan="4">{{ tuesday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ t_1_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ t_2_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ t_3_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ t_4_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ t_5_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ t_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ t_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ t_1_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ t_2_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ t_3_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ t_4_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ t_5_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ t_6_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ t_7_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td class="td" colspan="4">{{ wednesday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ w_1_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ w_2_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ w_3_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ w_4_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ w_5_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ w_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ w_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ w_1_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ w_2_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ w_3_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ w_4_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ w_5_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ w_6_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ w_7_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td class="td" colspan="4">{{ thursday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ th_1_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ th_2_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ th_3_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ th_4_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ th_5_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ th_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ th_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ th_1_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ th_2_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ th_3_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ th_4_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ th_5_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ th_6_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ th_7_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td class="td" colspan="4">{{ friday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ f_1_u  }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ f_2_u  }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ f_3_u  }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ f_4_u  }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ f_5_u  }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ f_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ f_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ f_1_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ f_2_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ f_3_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ f_4_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ f_5_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ f_6_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ f_7_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td class="td" colspan="4">{{ saturday }}</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ s_1_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ s_2_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ s_3_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ s_4_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ s_5_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ s_6_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ s_7_u }}</td>
			<td>Верхняя</td>
		</tr>
		<tr class="tr">
			<td>1</td>
			<td>09.00 - 10.30</td>
			<td class="td">{{ s_1_d }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>2</td>
			<td>10.40 - 12.10</td>
			<td class="td">{{ s_2_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>3</td>
			<td>12.50 - 14.20</td>
			<td class="td">{{ s_3_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>4</td>
			<td>14.30 - 16.00</td>
			<td class="td">{{ s_4_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>5</td>
			<td>16.10 - 17.40</td>
			<td class="td">{{ s_5_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>6</td>
			<td>17.50 - 19.20</td>
			<td class="td">{{ s_6_d  }}</td>
			<td>Нижняя</td>
		</tr>
		<tr class="tr">
			<td>7</td>
			<td>19.30 - 21.00 </td>
			<td class="td">{{ s_7_d  }}</td>
			<td>Нижняя</td>
		</tr>
</table>
