/* Global styles */
:root {
  --radius: .5em;

  --color-primary: royalblue;
  --color-primary-light: cornflowerblue;
  --color-secondary: gray;
  --color-error: red;
  --color-error-light: indianred;
  --color-success: green;

  --color-contrast-higher: black;
  --color-contrast-high: #535353;
  --color-contrast: darkgray;
  --color-contrast-low: lightgray;
  --color-contrast-lower: white;

  --animation: .2s ease-in-out;
  --all-animations: border-color var(--animation), box-shadow var(--animation);

  --box-shadow: 0px 0px 3px 1px;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

main {
  flex: 1 0 auto;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  flex-shrink: 0;
  padding: 2em;
}

@media (min-width: 1440px) {
  main {
    max-width: 1350px;
  }
}

h1 {
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: bold;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Nav */
.nav {
  background-color: var(--color-contrast-high);
  color: var(--color-contrast-lower);
  padding: 0 1em;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: min-content;
}

.nav__item {
  position: relative;
  width: 100%;
  padding: 1.5em 1em;
  align-items: center;
  justify-content: center;
}

.nav__item:focus-within,
.nav__item--current {
  background-color: #666;
}

.nav__link {
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: var(--color-contrast-lower);
  text-decoration: none;
  font-size: 1em;
}

.nav__link:not([aria-current="page"]):hover,
.nav__link:not([aria-current="page"]):focus {
  outline: none;
  text-decoration: underline;
}

a.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Form */
.from {
  padding: 20px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__legend {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  margin: .6em 0;
  padding: 0;
}

.form-control,
.form-control__input,
.form-control__label {
  display: block;
  width: 100%;
}

.form-control {
  margin-bottom: 1em;
}

.form-control__input {
  margin-bottom: 5px;
  font-size: 1em;
  padding: .5em .75em;
  border-radius: var(--radius);
  border: var(--color-contrast) 2px solid;
  transition: var(--all-animations);
}

.form-control__input:invalid:not(:placeholder-shown) {
  border-color: var(--color-error);
}

.form-control__input:invalid:focus {
  border-color: var(--color-error);
  box-shadow: var(--box-shadow) var(--color-error-light);
}

.form-control__invalid-message {
  display: block;
  color: var(--color-contrast);
  font-size: .75em;
  padding-left: var(--radius);
}

.form-control__input:invalid:not(:placeholder-shown) + .form-control__invalid-message {
  color: var(--color-error);
}

.form-control__input:focus {
  outline: none;
  border: var(--color-primary) 2px solid;
  box-shadow: var(--box-shadow) var(--color-primary-light);
}

.form-control__label {
  font-size: .95em;
  margin-bottom: 7px;
}

/* Buttons */

.button {
  display: block;
  font-size: 1em;
  background-color: transparent;
  border: var(--color-contrast) 2px solid;
  padding: .5em .75em;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--all-animations);
}

.button:focus {
  outline: none;
  border-color: var(--color-primary);
}

.button--primary {
  color: white;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.button--primary:focus {
  box-shadow: var(--box-shadow) var(--color-primary-light);
}

/* Utility classes */

.w-100\% {
  width: 100%;
}
