/* Global styles */
:root {
  --radius: .25em;
  --primary-color: royalblue;
  --secondary-color: gray;
  --error-color: red;
}

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

main {
  flex: 1 0 auto;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  flex-shrink: 0;
}

@media (min-width: 1440px) {
  main {
    max-width: 1350px;
  }
}

/* Form */
.from {
  padding: 20px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__legend {
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  margin: .6em 0;
  padding: 0;
}

.form-control,
.form-control__input,
.form-control__label {
  display: block;
  width: 100%;
}

.form-control {
  margin-bottom: 1em;
}

.form-control__input {
  margin-bottom: 5px;
  font-size: 1em;
  padding: .5em .75em;
  border-radius: var(--radius);
  border: var(--secondary-color) 2px solid;
}

.form-control__input:invalid:not(:placeholder-shown) {
  border-color: var(--error-color);
}

.form-control__invalid-message {
  display: block;
  color: var(--secondary-color);
  font-size: .75em;
}

.form-control__input:invalid:not(:placeholder-shown) + .form-control__invalid-message {
  color: var(--error-color);
}

.form-control__input:focus {
  outline: none;
  border: var(--primary-color) 2px solid;
}

.form-control__label {
  font-size: .95em;
  margin-bottom: 7px;
}

/* Buttons */

.button {
  display: block;
  font-size: 1em;
  background-color: transparent;
  border: var(--secondary-color) 2px solid;
  padding: .5em .75em;
  border-radius: var(--radius);
  cursor: pointer;
}

.button:focus {
  outline: none;
  border-color: var(--primary-color);
}
nav {
  width: 960px;
  margin: 0 auto;
}

nav:before {
  content:'';
  display: block;
  height: 50px;
  width: 100%;
  background:#2d2b33;
  position: absolute;
  left: 0;
  z-index:-1;
}

ul {
  margin:0;
  padding:0;
  list-style:none;
  height:50px;
}

ul li {
  float: left;
}

ul li a {
  font-family: Monsterrat;
  color:white;
  display:block;
  height:50px;
  padding:0 50px;
  text-transform: uppercase;
  text-decoration: underline;
  line-height:50px;
}

ul li a:hover {
  background:red;
}
body {
    margin: 0;
    padding: 0;
  }

  h1 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 5em;
    font-weight: 700;
  }

  h2 {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 3em;
    font-weight: 700;
    font-style: Italic;
    background-color:orange
  }
  .header {
    display: flex;
    min-height: 50vh;
    padding: 8px 50px;
    background-color: #02f;
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .header__title {
    transform: translateX(0);
    animation-name: header_anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    text-transform: uppercase;
    color: black;
    align-self: center;
  }

  .article {
    position: relative;
    min-height: 20vh;
    padding: 8px 50px;
  }

  .article_whitebg::before,
.article_bluebg::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content:'';
}

.form {
    position: relative;
    width: 300px;
    margin: 0;
    text-align: center;
  padding-left: 100px;
  }
.form_input,
  .form_textarea {
    padding-left: 10px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 8px;
    padding: 8px 16px;
    transition: transform 0.3s ease-out;
    color: #02f;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
  }

  .form_button {
    display: inline-block;
    padding: 12px 32px;
    transition: all 0.3s ease-out;
    text-transform: uppercase;
    color: orange;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #02f;
    background-clip: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
  }

  .form_button:hover {
    transition: all 0.3s ease-out;
    transform: scale(1.02, 1.02);
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 16px 2px;
  }

label {
color:red;
font-size:2em;
font-family:"Montserrat", sans-serif;
}
input {
padding-left: 10px;
   display: block;
   box-sizing: border-box;
   width: 50%;
   margin-bottom: 8px;
   padding: 8px 16px;
   transition: transform 0.3s ease-out;
   color: orange;
   border: none;
   border-radius: 8px;
   outline: none;
   background-color: #fff;
   font-family: 'Open Sans', sans-serif;
   font-size: 1.5em;
   font-weight: 300;
 }
  .black {
    color: #000;
  }

  .white {
    color: #fff;
  }
